In [1]:
import os

# Print the current working directory for debugging purposes
print("Current working directory:", os.getcwd())

# If the current directory ends with 'notebooks', change to its parent directory
if os.path.basename(os.getcwd()) == "notebooks":
    os.chdir("..")

print("Updated working directory:", os.getcwd())

Current working directory: E:\projectSpace\google_analytics_ab_testing\notebooks
Updated working directory: E:\projectSpace\google_analytics_ab_testing

In [2]:
# Import the necessary functions
import src.data_extraction as de

# Initialize the client
client = de.BigQueryClient()

In [3]:
simple_query = "SELECT 1 as col LIMIT 5"
df_simple = client.run_query(simple_query)
print("Simple Query Result:")
print(df_simple)

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|
Query executed successfully using pandas-gbq.
Simple Query Result:
   col
0    1

In [4]:
# Extract data for a specific period (e.g., January 2017)
raw_data = client.get_sessions_data(limit=1000000)
print("Raw Data:")
raw_data.head(10)

Final Query:
            SELECT
              fullVisitorId,
              visitId,
              visitNumber,
              date,
              totals.pageviews AS pageviews,
              totals.timeOnSite AS timeOnSite,
              totals.transactions AS transactions,
              totals.totalTransactionRevenue AS totalTransactionRevenue,
              trafficSource.source AS trafficSource,
              trafficSource.medium AS trafficMedium,
              trafficSource.campaign AS trafficCampaign,
              geoNetwork.country AS country,
              geoNetwork.city AS city
            FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
         LIMIT 1000000
Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|
Query executed successfully using pandas-gbq.
Raw Data:

,fullVisitorId,visitId,visitNumber,date,pageviews,timeOnSite,transactions,totalTransactionRevenue,trafficSource,trafficMedium,trafficCampaign,country,city
0,2219384770970157334,1501520683,1,2017-07-31,1,<NA>,<NA>,<NA>,google,organic,(not set),Slovakia,not available in demo dataset
1,3257231109110009503,1501512773,1,2017-07-31,1,<NA>,<NA>,<NA>,google,organic,(not set),United Kingdom,not available in demo dataset
2,1481009813315636845,1501559508,1,2017-07-31,1,<NA>,<NA>,<NA>,google,organic,(not set),Thailand,Bangkok
3,4042576478930992747,1501520907,1,2017-07-31,1,<NA>,<NA>,<NA>,google,organic,(not set),Greece,not available in demo dataset
4,1478324366289834997,1501486642,1,2017-07-31,1,<NA>,<NA>,<NA>,google,organic,(not set),Singapore,Singapore
5,559525260205715507,1501487317,2,2017-07-31,<NA>,<NA>,<NA>,<NA>,google,organic,(not set),Taiwan,not available in demo dataset
6,9308310352918219134,1501525606,3,2017-07-31,1,<NA>,<NA>,<NA>,(direct),(none),(not set),United States,San Francisco
7,8266725910918033137,1501557787,2,2017-07-31,1,<NA>,<NA>,<NA>,(direct),(none),(not set),United States,San Francisco
8,3915383446664515335,1501534445,2,2017-07-31,1,<NA>,<NA>,<NA>,google,cpm,(not set),United States,San Bruno
9,7582901463583803669,1501537680,18,2017-07-31,1,<NA>,<NA>,<NA>,(direct),(none),(not set),United States,not available in demo dataset

In [5]:
print('Number of records for that customer: ' , len(raw_data[raw_data.fullVisitorId == '0209659091905351565']))
print('Maximum of VisitNumber for that customer: ', raw_data[raw_data.fullVisitorId == '0209659091905351565']['visitNumber'].max())

Number of records for that customer:  19
Maximum of VisitNumber for that customer:  19

In [58]:
%reload_ext autoreload
%autoreload 2
    
import src.data_cleaning as dc

# Profile the data
profile = dc.profile_data(raw_data)
print("Data Profile Summary:")
profile

Data Profile Summary:

{'missing_values': {'fullVisitorId': 0,
  'visitId': 0,
  'visitNumber': 0,
  'date': 0,
  'pageviews': 0,
  'timeOnSite': 0,
  'transactions': 0,
  'totalTransactionRevenue': 892138,
  'trafficSource': 0,
  'trafficMedium': 0,
  'trafficCampaign': 0,
  'country': 0,
  'city': 0},
 'descriptive_stats': {'visitNumber': {'count': 903653.0,
   'mean': 2.264897034591818,
   'std': 9.283734503348215,
   'min': 1.0,
   '25%': 1.0,
   '50%': 1.0,
   '75%': 1.0,
   'max': 395.0},
  'pageviews': {'count': 903653.0,
   'mean': 3.8493381862285636,
   'std': 7.025001970194299,
   'min': 0.0,
   '25%': 1.0,
   '50%': 1.0,
   '75%': 4.0,
   'max': 469.0},
  'timeOnSite': {'count': 903653.0,
   'mean': 131.3256869616988,
   'std': 367.5845342955933,
   'min': 0.0,
   '25%': 0.0,
   '50%': 1.0,
   '75%': 84.0,
   'max': 19017.0},
  'transactions': {'count': 903653.0,
   'mean': 0.013406694826443336,
   'std': 0.12857425628262395,
   'min': 0.0,
   '25%': 0.0,
   '50%': 0.0,
   '75%': 0.0,
   'max': 25.0},
  'totalTransactionRevenue': {'count': 11515.0,
   'mean': 154.59394094659143,
   'std': 720.4826344719879,
   'min': 1.2,
   '25%': 29.99,
   '50%': 55.61,
   '75%': 116.61500000000001,
   'max': 47082.06}},
 'outliers': {'visitNumber': {'count': 200593,
   'min': 2.0,
   'max': 395.0,
   'sample_values': [2, 3, 2, 2, 18]},
  'pageviews': {'count': 95387,
   'min': 9.0,
   'max': 469.0,
   'sample_values': [9.0, 9.0, 9.0, 9.0, 9.0]},
  'timeOnSite': {'count': 130831,
   'min': 211.0,
   'max': 19017.0,
   'sample_values': [888.0, 896.0, 1441.0, 535.0, 470.0]},
  'transactions': {'count': 11552,
   'min': 1.0,
   'max': 25.0,
   'sample_values': [1.0, 1.0, 1.0, 1.0, 1.0]},
  'totalTransactionRevenue': {'count': 1400,
   'min': 246.62,
   'max': 47082.06,
   'sample_values': [612.55, 2494.0, 618.5, 265.88, 999.68]}}}

In [59]:
# raw_data = raw_data[raw_data['country'] == 'United States']

In [60]:
raw_data['city'].value_counts(dropna = False).sort_values(ascending = False)

city
NotSet           542491
Mountain View     40884
New York          26371
San Francisco     20329
Sunnyvale         13086
                  ...
Kumamoto              5
Deep River            5
Daly City             4
Boise                 3
Bozeman               3
Name: count, Length: 648, dtype: Int64

In [61]:
raw_data['country'].value_counts(dropna = False).sort_values(ascending = False)

country
United States     364744
India              51140
United Kingdom     37393
Canada             25869
Vietnam            24598
                   ...
Norfolk Island         1
St. Martin             1
St. Barthélemy         1
Samoa                  1
Anguilla               1
Name: count, Length: 222, dtype: Int64

In [62]:
raw_data['trafficCampaign'].value_counts(dropna = False).sort_values(ascending = False)

trafficCampaign
NotSet                                875599
Data Share Promo                       16403
AW - Dynamic Search Ads Whole Site      6213
AW - Accessories                        5327
AW - Electronics                          74
AW - Apparel                              32
All Products                               4
Data Share                                 1
Name: count, dtype: Int64

In [63]:
raw_data['trafficMedium'].value_counts(dropna = False).sort_values(ascending = False)

trafficMedium
NotSet       371584
referral     262022
organic      234381
affiliate     16403
cpc           13079
cpm            6184
Name: count, dtype: Int64

In [64]:
raw_data['trafficSource'].value_counts(dropna = False).sort_values(ascending = False)

trafficSource
(direct)       371469
google         241280
youtube.com    212602
Others          61891
Partners        16411
Name: count, dtype: Int64

In [65]:
raw_data['totalTransactionRevenue'].value_counts(dropna = False).sort_values(ascending = False)

totalTransactionRevenue
NaN       892138
23.99         94
24.99         91
25.99         84
21.99         81
           ...
132.94         1
241.90         1
72.91          1
77.50          1
25.22          1
Name: count, Length: 6201, dtype: int64

In [66]:
raw_data['transactions'].value_counts(dropna = False).sort_values(ascending = False)

transactions
0.0     892101
1.0      11199
2.0        284
3.0         31
4.0         13
5.0          9
6.0          5
7.0          3
8.0          3
12.0         1
15.0         1
10.0         1
21.0         1
25.0         1
Name: count, dtype: int64

In [67]:
raw_data['timeOnSite'].value_counts(dropna = False).sort_values(ascending = False)

timeOnSite
0.0       451759
4.0         6149
5.0         6115
6.0         5502
51.0        5358
           ...
6046.0         1
9564.0         1
4788.0         1
4484.0         1
3520.0         1
Name: count, Length: 4261, dtype: int64

In [68]:
raw_data['pageviews'].value_counts(dropna = False).sort_values(ascending = False)

pageviews
1.0      452522
2.0      143770
3.0       73835
4.0       45192
5.0       33411
          ...
189.0         1
275.0         1
186.0         1
144.0         1
245.0         1
Name: count, Length: 214, dtype: int64

In [69]:
raw_data['date'].value_counts(dropna = False).sort_values(ascending = False)

date
2016-11-28    4807
2016-11-15    4685
2016-11-14    4466
2016-11-30    4435
2016-10-26    4375
              ...
2017-05-14    1290
2017-05-13    1251
2016-12-30    1232
2016-12-24    1231
2016-12-31    1211
Name: count, Length: 366, dtype: int64

In [70]:
raw_data['fullVisitorId'].value_counts(dropna = False).sort_values(ascending = False)

fullVisitorId
1957458976293878100    278
0824839726118485274    255
3608475193341679870    201
1856749147915772585    199
3269834865385146569    155
                      ...
1859550379960764305      1
8852025007394065390      1
9873522478149965889      1
7548605002479912192      1
212309777676285520       1
Name: count, Length: 714167, dtype: Int64

In [71]:
raw_data['visitId'].value_counts(dropna = False).sort_values(ascending = False)

visitId
1493146175    8
1484649802    6
1478345904    6
1481369525    6
1494374199    5
             ..
1470744762    1
1470744527    1
1470734788    1
1470753349    1
1495869917    1
Name: count, Length: 886303, dtype: Int64

In [72]:
options = {
        'convert_date': False,
        'revenue_adjustment': True,
        'fill_missing_transactions': True,
        'fill_missing_pageviews': True,
        'fill_missing_timeOnSite': True,
        'timeOnSite_zero_floor': True
    }

cleaned_data = dc.clean_sessions_data(raw_data, cleaning_options=options)


print(cleaned_data['city'].value_counts())
print(cleaned_data['trafficSource'].value_counts())

cleaned_data.head()

city
NotSet           542491
Mountain View     40884
New York          26371
San Francisco     20329
Sunnyvale         13086
                  ...
Campbell              5
Deep River            5
Daly City             4
Boise                 3
Bozeman               3
Name: count, Length: 648, dtype: Int64
trafficSource
(direct)       371469
google         241280
youtube.com    212602
Others          61891
Partners        16411
Name: count, dtype: Int64

,fullVisitorId,visitId,visitNumber,date,pageviews,timeOnSite,transactions,totalTransactionRevenue,trafficSource,trafficMedium,trafficCampaign,country,city
0,2219384770970157334,1501520683,1,2017-07-31,1.0,0.0,0.0,0.0,google,organic,NotSet,Slovakia,NotSet
1,3257231109110009503,1501512773,1,2017-07-31,1.0,0.0,0.0,0.0,google,organic,NotSet,United Kingdom,NotSet
2,1481009813315636845,1501559508,1,2017-07-31,1.0,0.0,0.0,0.0,google,organic,NotSet,Thailand,Bangkok
3,4042576478930992747,1501520907,1,2017-07-31,1.0,0.0,0.0,0.0,google,organic,NotSet,Greece,NotSet
4,1478324366289834997,1501486642,1,2017-07-31,1.0,0.0,0.0,0.0,google,organic,NotSet,Singapore,Singapore

In [73]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   fullVisitorId            903653 non-null  string
 1   visitId                  903653 non-null  string
 2   visitNumber              903653 non-null  Int64
 3   date                     903653 non-null  datetime64[ns]
 4   pageviews                903653 non-null  float64
 5   timeOnSite               903653 non-null  float64
 6   transactions             903653 non-null  float64
 7   totalTransactionRevenue  903653 non-null  float64
 8   trafficSource            903653 non-null  string
 9   trafficMedium            903653 non-null  string
 10  trafficCampaign          903653 non-null  string
 11  country                  903653 non-null  string
 12  city                     903653 non-null  string
dtypes: Int64(1), datetime64[ns](1), float64(4), string(7)
memory usage: 90.5 MB

In [75]:
# cleaned_data.to_csv('data/processed.csv')